---
 const personalImageAlt = "pablo Asensi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, me llamo Pablo Asensi. Mi interés en la programación comenzó gracias a los mods de Minecraft cuando tenía 10 años. Actualmente me gustaría profundizar en el sector del<strong> Desarrollo de Software y la Inteligencia Artificial</strong
      >.
    </p><br>

    <p>
      Me apasionan los <strong>Nuevos Retos</strong> y la posibilidad de desarrollarme como profesional y como persona dentro del sector. A día de hoy, estoy centrado en mejorar mis habilidades principalmente en el <strong>Entorno de JavaScript y Java</strong>.
    </p><br>

    <p>
      Como <strong
      >creador de contenido</strong
      > comparto 2 pots diarios en mi canal de YouTube, intentando ayudar y aportar valor a la comunidad. He dedicado mucho tiempo a este proyecto y cuento con <strong>+20.000 visitas mensuales</strong> en mis publicaciones.
    </p>
  </div>

  <img width="200" height="200" src="/mee.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20 mt-3 mb-3 md:mb-0 md:mt-0" style="object-position: 50% 50%">

</article>


